@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  font-family: Inter;
}

/* You can add global styles to this file, and also import other style files */
.sidebar {
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  background-color: #FFF;
  .sidebar-minimizer {
    background-color: #FFF;
  }
}

@media (max-width: 991px){
  .app-header .navbar-toggler {
    display: inline-block !important;
  }
}
